@include media-md {
  .App {  
    #{&}-title {
      font-size: 40px;
    }
  }
  .CreateNote {
    form {
      width: 400px;
    }
  }
  .notesContainer {
    .AddedNote {
      width: 200px;
    }
  }
}

@include max-449 {
  .CreateNote {
    form {
      & input,
      & textarea {
       font-size: 15px;
      }
      & button {
        font-size: 20px;
        width: 40px;
        height: 40px;
      }
    }
  }
  .notesContainer {
    .AddedNote {
      & button {
        font-size: 8px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

@include media-sm {
  .App {  
    #{&}-title {
      font-size: 35px;
    }
  }
  .CreateNote {
    form {
      width: 300px;
    }
  }
  .notesContainer {
    .AddedNote {
      width: 200px;
      & h1 {
        font-size: 18px;
      }
      & p {
        font-size: 15px;
      }
    }
  }
}

@include media-xs {
  .App {  
    #{&}-title {
      font-size: 30px;
    }
  }
  .CreateNote {
    form {
      width: 250px;
    }
  }
  .notesContainer {
    .AddedNote {
      width: 150px;
      & h1 {
        font-size: 15px;
      }
      & p {
        font-size: 12px;
      }
    }
  }
}