@import "./variables";
@import "./mixin";

@function font-family($family-name) {
  @return map-get($font-families, $family-name)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $mid-lightcolor;
  font-family:font-family(body);
}

.App {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;

  #{&}-title {
    text-align: center;
    font-family: font-family(title);
    font-size: 60px;
    color: $darkcolor;
  }
}

.CreateNote {
  @include flexCenter(row);
  margin: 80px 0px;

  form {
    @include flexCenter(column);
    width: 500px;
    margin: 20px auto;
    @include boxStyle;
    

     & input,
     & textarea {
      width: 100%;
      border: none;
      outline: none;
      padding: 10px;
      font-size: 20px;
      background-color: $lightcolor;
      outline: none;
      color: $darkcolor;
    }

    & button {
      @include button;
      font-size: 25px;
    }
  }
}

.notesContainer {
  flex-wrap: wrap;
  @include flexCenter(row);
  .AddedNote {
    @include flexCenter(column);
    padding: 20px 10px;
    margin: 20px 30px;
    width: 250px;
    @include boxStyle;

  
    & h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    & p {
      font-size: 16px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  
    & button {
      @include button;
      font-size: 10px;
    }
  }
}

@import "./responsive";
